<a href="https://colab.research.google.com/github/Nguyen-Van-Truong/ML2023/blob/main/Lab_3_20130187_NguyenVanTruong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Deadline: 23:59, 04/03/2023**

# Task 1. 
The main aim of this task is to get familiar with the tasks of preprocessing data using Scikit-learn – a Python-based Machine Learning framework and Linear Regression.

For given 2 datasets (preprocessing_weather.csv, preprocessing_salary_dummy.csv), 
*   Identify issues with these datasets
*   Then, apply preprocessing techniques to the datasets

#Task 1.1. Dataset preprocessing_weather.csv

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML/lab3'
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import metrics

Mounted at /content/gdrive
/content/gdrive/MyDrive/ML/lab3

**Issues**:


1.   Thiếu dữ liệu
2.   
3.   
4.   List item
....

**Preprocessing dataset**:

In [ ]:
#code

dataset_weather = pd.read_csv("preprocessing_weather.csv")
dataset_weather

    id   outlook temperature humidity  windy play
0    1     sunny          85       85  False   no
1    2     sunny          80       90   True   no
2    3  overcast          83       86  False  yes
3    4     rainy       NaN         96  False  yes
4    5     rainy          68       80  False  yes
5    6     rainy          65       70   True   no
6    7  overcast          64       65   True  yes
7    8     sunny          72       95  False   no
8    9     sunny          69    NaN    False  yes
9   10     rainy          75       80  False  yes
10  11     sunny          75       70   True  yes
11  12  overcast          72       90   True  yes
12  13  overcast          81       75  False  yes
13  14     rainy          71       91   True   no

In [ ]:

imputer = SimpleImputer(missing_values=np.nan, strategy='median')
dataset_weather[['temperature', 'humidity']] = imputer.fit_transform(dataset_weather[['temperature', 'humidity']])

dataset_weather

    id   outlook  temperature  humidity  windy play
0    1     sunny         85.0      85.0  False   no
1    2     sunny         80.0      90.0   True   no
2    3  overcast         83.0      86.0  False  yes
3    4     rainy         72.0      96.0  False  yes
4    5     rainy         68.0      80.0  False  yes
5    6     rainy         65.0      70.0   True   no
6    7  overcast         64.0      65.0   True  yes
7    8     sunny         72.0      95.0  False   no
8    9     sunny         69.0      85.0  False  yes
9   10     rainy         75.0      80.0  False  yes
10  11     sunny         75.0      70.0   True  yes
11  12  overcast         72.0      90.0   True  yes
12  13  overcast         81.0      75.0  False  yes
13  14     rainy         71.0      91.0   True   no

#Task 1.2. Dataset preprocessing_salary_dummy.csv

**Issues**:


1.   Thiếu dữ liệu
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [ ]:
#code
dataset_salary_dummy = pd.read_csv("preprocessing_salary_dummy.csv")
dataset_salary_dummy = dataset_salary_dummy.rename(columns={col: col.strip() for col in dataset_salary_dummy.columns})

print(dataset_salary_dummy)

   No  Country   Age   Salary Purchased
0   1   France  44.0  72000.0        No
1   2    Spain  27.0  48000.0       Yes
2   3  Germany  30.0  54000.0        No
3   4    Spain  38.0  61000.0        No
4   5  Germany  40.0      NaN       Yes
5   6   France  35.0  58000.0       Yes
6   7    Spain   NaN  52000.0        No
7   8   France  48.0  79000.0       Yes
8   9  Germany  50.0  83000.0        No
9  10   France  37.0  67000.0       Yes

Xử lí dữ liệu

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
dataset_salary_dummy[['Age', 'Salary']] = imputer.fit_transform(dataset_salary_dummy[['Age', 'Salary']])

dataset_salary_dummy

   No  Country   Age   Salary Purchased
0   1   France  44.0  72000.0        No
1   2    Spain  27.0  48000.0       Yes
2   3  Germany  30.0  54000.0        No
3   4    Spain  38.0  61000.0        No
4   5  Germany  40.0  61000.0       Yes
5   6   France  35.0  58000.0       Yes
6   7    Spain  38.0  52000.0        No
7   8   France  48.0  79000.0       Yes
8   9  Germany  50.0  83000.0        No
9  10   France  37.0  67000.0       Yes

# **Task 2**. Simple Linear Regression in Scikit-Learn
---
# **Usage:**
> **Step 1**: build a model
![image.png]()

> **Step 2**: test the model

*   With test set:
`y_pred = regressor.predict(X_test)`

*   With a single value ("predict" method always expects a 2D array as the format of its inputs)
`regressor.predict([[12]])`

> **Step 3**: 
*   get w0, w1 , w2, …,
-- W0: `regressor.intercept_`
-- w1, w2, …: `regressor.coef_`
*   R^2 score: sum of squared r(i)
`r(i) = y(i) - f(x(i))`: residual of ith instance


> **Metrics**:
*   metrics.explained_variance_score(y_test, y_pred)
*   metrics.mean_absolute_error(y_ test, y_pred) 
*   metrics.mean_squared_error(y_ test, y_pred[, ...])
*   metrics.mean_squared_log_error(y_ test, y_pred)
*   metrics.median_absolute_error(y_ test, y_pred)
*   metrics.r2_score(y_ test, y_pred[, ...])



---

# Tasks
The main aim of these tasks is to get familiar with Linear Regression problems. Apply LinearRegression to the following datasets. Note the error obtained and coefficients
*   **dataset1.csv** - a synthetic dataset including 5 points (1-dimensional data) with one target
*   **dataset2.csv** - a synthetic dataset including 1000 points (3-dimensional data) with one target variable. The variables are named x1, x2, x3, y. y is the variable to be regressed. Split the dataset into training set and test set (70% for training set and 30% for test set).

# Task 2.1. dataset1.csv

In [ ]:
#code
data = pd.read_csv("dataset1.csv")

X_train = data[['x']]
Y_train = data[['y']]

data

   x  y
0  1  1
1  2  3
2  4  3
3  3  2
4  5  5

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

print(regressor.intercept_)
print(regressor.coef_)

[0.4]
[[0.8]]

In [ ]:
# y = 0.4 + 0.8
y_pred = regressor.predict(X_train)
y_pred

array([[1.2],
       [2. ],
       [3.6],
       [2.8],
       [4.4]])

In [ ]:
r2 = metrics.r2_score(Y_train,y_pred)
r2

0.7272727272727273

# Task 2.2. dataset2.csv

In [5]:
#code
dataset2 = pd.read_csv("dataset2.csv")
dataset2

      id       x1       x2       x3         y
0      1  2.41710  0.83595  0.72469  18.21900
1      2  1.98150 -1.01800 -1.06400   0.55271
2      3  1.82850  0.49281 -0.89035   7.00510
3      4  1.50480 -1.74070 -1.72290  -7.06310
4      5  0.27489 -0.31811 -0.56168   0.74380
..   ...      ...      ...      ...       ...
594  595  1.64550  0.63758 -0.75519   7.71100
595  596 -1.16320  0.17321 -2.23150  -9.95440
596  597 -1.61920 -0.57279 -2.26420 -14.47000
597  598 -0.34407  1.86730 -2.22070  -0.66676
598  599 -0.12172 -0.99826 -2.14240 -11.07000

[599 rows x 5 columns]

In [6]:
X = dataset2[['x1', 'x2', 'x3']]
y = dataset2['y']

regressor = LinearRegression()
regressor.fit(X, y)


print(regressor.intercept_)
print(regressor.coef_)

4.00002000985028
[2.99999912 3.99999915 4.99999494]

In [ ]:
y_pred = regressor.predict(X)
y_pred

array([ 1.82185635e+01,  5.52524511e-01,  7.00501249e+00, -7.06287113e+00,
        7.43852878e-01,  2.93019242e+00,  2.68121299e+00, -1.06672698e+00,
        1.40735679e+01, -1.12738715e+01,  1.72741078e+01,  5.63486769e+00,
       -6.87219168e+00, -1.81208672e+01, -1.75936966e+00, -1.86794752e-01,
       -2.96895972e+00, -1.57929254e+00, -8.45859957e-01,  1.34147141e+01,
       -5.17698309e+00,  8.46472279e+00,  1.05538524e+00,  1.81028887e+01,
        2.99738787e+00, -7.68626827e+00,  1.17404210e+01,  1.97142019e+00,
       -4.53483036e+00,  1.13559692e+01,  3.21813449e+00, -7.28433037e+00,
        1.70155080e+01,  1.38809110e+01, -1.56468222e+01,  2.78751759e+00,
        5.15608334e+00, -6.86345952e+00,  9.37096874e+00, -2.40508461e+00,
        9.99343331e+00,  8.98117059e+00, -1.44970722e+01,  3.77697271e+00,
       -2.81474150e+00,  1.05360617e+01,  1.32948065e+01, -4.48154820e+00,
       -1.49282086e+01, -1.61278878e+01,  6.17753140e+00,  7.79421223e+00,
       -3.55769184e+00,  3.53648509e+00, -4.45445112e+00,  1.48690903e+01,
        1.53527722e+01,  9.34437780e+00, -3.76921603e+00,  4.38949977e+00,
        8.22015157e+00,  1.68911792e+01,  9.19870410e+00,  1.26598174e+01,
        2.27760078e+01,  1.56664058e+01,  4.21722146e+00,  1.35161349e+01,
        1.20953289e+01, -4.10327214e+00,  1.27305862e+01, -5.50857224e+00,
        3.58416580e+00,  1.29672306e+01,  1.43284771e+00,  1.90834136e+01,
        5.05493062e+00,  1.62023648e+01,  1.04785133e+01, -6.35308139e+00,
       -6.43570852e+00,  1.65468197e+01, -6.76785480e+00, -3.63848103e+00,
        2.93287062e+01,  4.04950424e+00,  3.03051069e+00,  9.63147256e+00,
        8.19621305e+00,  1.16694254e+01,  6.02816922e+00, -3.49868603e+00,
       -5.90585025e-01,  1.61763652e+01,  1.38668918e+01,  3.81041090e+00,
        7.45871333e+00,  6.88099213e+00,  9.82841237e-01,  1.65679495e+01,
        1.75802406e+00, -1.07203984e+01, -4.54583257e+00, -1.20237676e+01,
        9.63451201e+00,  3.23500454e+00,  8.50922536e+00,  2.42470095e+01,
       -7.30298066e+00,  5.22132685e+00, -5.56533241e+00, -4.17022579e+00,
        2.14420671e+01,  1.38492601e+00, -7.82444179e+00, -1.56826707e+01,
       -3.04888359e+00,  8.01560212e+00, -7.62762922e+00, -3.13077257e+00,
        7.34039146e-01,  7.08246297e+00, -1.45689701e+01,  2.13863279e+01,
        7.67143750e+00,  1.54276935e+00,  1.03283171e+01, -1.26006961e+00,
       -6.70366575e+00,  1.12386715e+01,  1.50865509e+01,  4.97656781e+00,
        3.47905413e-01,  1.15047613e+01,  3.70903494e+00,  8.93469106e-01,
        1.78614887e+01, -9.67817416e+00, -1.56532561e+00,  1.44105055e+01,
       -1.12352801e+01,  1.06775010e+01, -5.41477228e+00,  1.57402118e+01,
        7.50951432e+00,  5.38678616e+00,  1.89674487e+01,  8.85771299e+00,
        7.49380032e-01, -1.29381467e+01, -1.29776083e+01, -1.91124386e+00,
        1.27412088e+01,  1.46437904e+01,  1.05838096e+01,  2.10735870e+01,
        1.18078408e+01, -3.99528489e+00,  9.61451361e+00, -1.24711907e+01,
        1.49619787e+01,  1.93218981e+01, -1.95872659e+00, -1.09062736e+01,
       -5.33693130e+00,  2.31046111e+01,  1.34040115e+01,  4.85019813e+00,
       -9.22632884e+00,  1.11430270e+01, -1.05885948e+01,  9.64725359e+00,
        9.05008552e+00,  1.00509172e+01, -6.08147285e+00,  1.39179531e+01,
        9.38791487e+00,  7.17739203e+00, -5.34868917e+00,  1.32966118e+01,
        2.97514479e+00,  2.87693487e+00,  1.51904036e+01,  1.66676813e+01,
        7.39999235e+00,  1.49562593e+01,  7.21219010e-01,  4.38892444e+00,
        1.09215228e+01,  1.14057807e+01,  9.32610140e+00, -3.24469187e+00,
        9.06351030e+00,  1.21797154e+01,  8.85531928e+00,  4.53961608e+00,
       -3.89618439e+00,  3.41876996e+00, -9.77202832e+00, -9.57653793e+00,
        4.46716919e+00,  2.27460128e+01,  4.95269482e+00,  5.21642806e+00,
        3.88101987e+00,  3.61452855e+00, -8.98885524e-01,  1.20380959e+01,
        9.70026450e+00,  2.31679755e+00,  1.83001144e+01,  1.05364795e+01,
        2.25084636e+00, -6.40412694e+00,  6.46187325e+00,  1.95960013e+01,
       -7.75983901e-01,  1.26352730e+00,  3.38193614e+00,  5.15317172e+00,
        3.38086649e+00,  5.20821716e-01, -9.14636859e+00, -1.30997325e+00,
        3.22156649e+00,  1.78439101e+01,  2.78231322e+00, -7.35699838e+00,
        1.20547107e+01,  1.26926687e+01,  1.77354684e+01,  1.25845812e-02,
        6.84075591e+00,  2.53612955e+00,  6.07846933e+00, -7.89562369e+00,
        2.87702385e+00,  1.22176190e+01,  1.71459321e+01,  6.66302302e+00,
        4.78177704e+00,  9.33477031e+00,  5.91645834e+00,  1.24683391e+01,
        4.79470369e+00,  8.46792571e+00,  1.60528111e+01,  2.03433115e+01,
       -1.12407687e+01, -1.36709995e+01,  4.83820354e+00,  6.03974089e+00,
       -3.43868856e+00,  8.93082322e+00,  9.12491282e+00,  2.04889301e+01,
        5.46248971e-02, -1.38896218e+00, -7.39584983e+00,  1.00959147e+01,
       -8.51521383e+00,  1.89910131e+01, -3.00437481e+00,  5.88951566e+00,
       -3.11924198e+00,  2.29114262e+00, -1.73810690e+01,  9.70138453e+00,
        1.33818121e+01,  1.95649782e+01,  7.28330332e-01, -2.99721273e+00,
       -9.67440897e-01, -4.10795228e+00,  4.67888114e+00,  1.44096103e+01,
        1.15347798e+01,  1.86521479e+01, -8.30724430e+00,  1.54420832e+01,
       -4.89076968e+00, -1.59434675e+01,  1.11183199e+01,  1.38439796e+01,
       -1.81239660e+01,  8.92923561e-01,  2.82102489e+00,  7.94375910e-01,
        6.39578192e+00,  1.48910087e+01, -1.60100907e+00,  1.71241907e+01,
       -1.27814731e+01,  7.45104963e+00,  2.27353865e+01, -5.39887042e+00,
       -2.24570653e+01,  1.73610127e+01,  1.95331232e+00, -4.78431502e-01,
        9.17204595e+00,  2.86744714e+00, -4.98283156e+00,  1.47065152e+01,
       -7.71428855e+00,  2.15187504e+00,  1.22194486e+01,  9.32121968e+00,
       -9.76257350e+00, -1.08194378e+01, -3.49579310e+00,  5.55149831e+00,
        1.65786548e+01,  1.05693133e+01,  1.23477655e+01, -9.16907847e+00,
        1.45617085e+01,  3.07299828e+00, -5.91426007e-01,  1.47169642e+01,
        1.76117866e+01, -8.96312741e+00, -8.53047454e+00,  4.06807504e+00,
       -6.94899275e+00,  8.35841670e+00,  1.03656901e+01,  1.07433718e+01,
        1.67994505e+01,  2.03911105e+01, -7.87009972e+00, -8.00633459e+00,
       -3.12074649e+00,  1.65342133e+01,  1.05184159e+01,  1.99904627e+01,
       -1.09247674e+01, -9.20797007e+00,  1.60238724e+01,  1.68745903e+01,
        5.13395850e-01,  9.01623056e+00,  2.73130063e+01, -2.41925332e+00,
       -3.40479833e+00,  1.29165118e+01, -6.16317790e+00,  1.54003843e+00,
        6.01957853e+00,  1.18981631e+00, -9.04022813e+00,  1.29915830e+01,
       -1.54642701e+01,  4.85460305e+00,  5.20546897e+00,  9.02682412e+00,
        1.68446685e+01, -8.14251722e+00, -1.07783488e+01, -2.35877344e+00,
       -7.83244356e+00,  4.57064787e+00,  4.68204503e+00, -6.73675250e+00,
        2.80403065e+01, -1.86276030e+00,  1.92707179e+01, -1.16709113e+00,
       -1.38262706e+01, -1.48872081e+01,  9.32577394e+00,  7.80987066e+00,
        6.94866611e+00,  2.07462109e+01, -4.44902564e+00, -1.42862996e+00,
       -4.21157271e+00,  1.79004076e+01,  1.48799423e+01, -2.80937441e+00,
        1.39046570e+00,  1.16877991e+01,  9.88559478e+00,  8.62311434e+00,
        5.96097641e+00,  1.53218122e+01,  1.48250359e+01,  1.12647835e+01,
        8.76923188e+00,  6.76903164e+00,  2.44905542e+00, -1.21684321e+01,
        5.51239172e+00,  7.50391491e+00,  8.09576206e+00, -5.77078048e+00,
       -4.14303042e+00, -1.59388661e+01,  2.27464077e+01,  2.24647082e+00,
        3.58559944e+00,  1.61358315e+01,  2.43318309e+00,  6.17936753e+00,
        3.67055299e+00, -1.32823221e+01,  1.70525038e+01,  9.07811872e-01,
       -1.25659082e+01, -1.76718696e+01,  2.01383374e+01,  1.28334838e+01,
       -6.81083037e+00,  5.56798333e+00, -1.78901653e+01,  2.91207925e+00,
       -1.09222070e+01, -4.85347366e+00, -7.36672299e-01,  7.78646008e+00,
        6.64921448e+00,  1.68486445e+01,  4.88930459e-01, -1.40031718e+01,
       -1.93195871e+00,  6.73352560e+00,  2.08244115e+01, -1.23130877e+01,
        6.73096091e+00, -7.82076971e-01, -1.34221474e+01,  3.09793924e+00,
        1.53651611e+01,  2.37302372e+00, -7.27684396e-01,  1.10492147e+01,
        5.92652792e+00, -8.73715474e+00, -1.52075687e+00, -8.09677889e-01,
       -8.48473060e-02,  2.95236543e+00, -1.09556414e+00,  7.15682814e+00,
       -4.12457918e+00, -1.74804259e+01,  1.09753810e+01,  6.86471196e+00,
       -5.31118431e+00,  4.90871083e+00,  1.50112185e+01,  2.98495044e+01,
        8.54732551e+00, -2.21605640e+01,  3.01260497e+00,  3.40821272e+00,
        1.00300603e+00,  4.42875533e+00, -1.15159709e+01,  6.05060832e+00,
       -1.78967339e+00,  3.50070329e+00,  8.65965092e+00, -8.22956821e+00,
       -1.21514489e+01,  2.69227299e+00,  1.84040500e+01, -6.35821159e+00,
        1.49599084e+01,  3.55611102e+00,  9.99961110e+00,  1.92805667e+01,
       -7.43799833e-01,  9.56612463e+00,  1.02084108e+01,  8.69541609e+00,
        4.39392464e+00,  7.15926642e-01,  3.98345707e+00,  1.37227549e+01,
        4.28183428e+00,  1.39161142e+01,  6.29320012e+00,  2.42520767e+01,
       -5.55807950e+00, -8.27897142e+00,  4.13721655e+00,  8.11595222e+00,
        1.09583036e+01,  7.51260959e+00, -5.72137365e+00,  9.07880997e+00,
       -7.08758098e+00, -3.96573068e+00,  7.70932394e+00,  8.93856049e+00,
        8.42163927e+00,  2.03651091e+01,  2.03920304e+01, -1.05180470e+01,
        4.47415753e-01,  1.71191632e+01,  2.06285192e+01,  1.55104258e+01,
        1.60925144e+01, -5.43100999e+00, -1.21047265e+00, -4.55598927e+00,
       -3.61041711e+00,  3.57866346e+00, -1.01589724e+01,  5.68144249e-03,
       -1.82017685e+01,  2.96402055e+01,  6.15405100e+00,  6.69215775e+00,
       -9.26614739e+00,  2.31905075e+01,  3.12621621e+00, -1.72040268e+01,
        2.02986070e+01, -6.68544420e+00,  9.32475083e-01,  3.03071828e-01,
        3.19036827e+00,  5.67902999e+00,  8.30791826e+00,  3.65506598e+00,
        9.16851763e+00, -8.14937080e+00, -4.17905675e+00, -4.33709724e-01,
        9.99311910e+00,  9.80764141e-01,  1.32171117e+00,  1.31175386e+01,
       -1.27528351e+00, -1.56192694e+01, -7.17387860e+00, -1.32011951e+01,
        5.36431856e+00,  4.05195792e+00, -1.03757239e+01, -6.82172998e+00,
        9.27256129e+00,  3.85736442e+00, -6.80542347e+00, -1.75847098e+00,
        5.73230915e+00,  5.01573318e+00,  7.69836317e+00,  1.18867425e+01,
       -9.67178122e-01, -4.40083908e+00,  2.98558045e+01,  1.09214152e+01,
        1.14294296e+01, -1.79665771e+01,  1.51606493e+01, -9.60022813e+00,
       -6.34757085e+00,  1.02676959e+01, -5.15631526e+00,  4.91886290e+00,
        1.89256905e+01, -4.20007472e+00, -5.81462976e+00, -4.14905724e+00,
        3.44856393e+00,  1.65691105e+01,  4.82046354e-01,  8.53182707e+00,
        4.31525464e+00,  2.08644639e+00,  1.50075955e+01, -1.83031180e+00,
        2.52934015e+00,  1.42672734e+01,  1.36993889e+01,  5.11160490e-02,
        6.48782756e+00,  8.78775016e+00,  1.83428153e+01,  2.05870640e+01,
        1.42105090e+01,  7.42821223e+00,  1.94943082e+01, -1.00550668e+01,
        1.51963177e+01, -9.69687985e+00, -9.45977316e+00, -1.06907899e+01,
        4.25493790e+00,  7.36931610e+00,  7.71089184e+00, -9.95422783e+00,
       -1.44697266e+01, -6.66480039e-01, -1.10701682e+01])

In [ ]:
r2 = metrics.r2_score(y,y_pred)
r2

0.9999999994090284

# Task 2.3. Apply LinearRegression to the following dataset:
*   Red wine quality: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv . The dataset includes info about the chemical properties of different types of wine and how they relate to overall quality.

In [ ]:
#code
data3 = pd.read_csv("winequality-red.csv", sep = ";")
data3 = data3.rename(columns={col: col.strip() for col in data3.columns})

print(data3.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5

In [ ]:
from sklearn.model_selection import train_test_split
# Chia tập dữ liệu thành tập huấn luyện và kiểm tra
X = data3.drop("quality", axis=1)
y = data3["quality"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Điều chỉnh mô hình hồi quy tuyến tính trên tập huấn luyện
regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

r2 = metrics.r2_score(y_test, y_pred)
print("R-squared:", r2)

Mean Squared Error: 0.41123487175042034
Root Mean Squared Error: 0.6412759715991395
R-squared: 0.3513885332505231
Coefficients: [ 2.34704718e-02 -1.09961969e+00 -2.47859776e-01  7.73785620e-03
 -1.67359251e+00  4.55041815e-03 -3.26389168e-03 -1.42395563e+01
 -3.19247444e-01  8.12824701e-01  2.91991158e-01]

# Task 2.4. Apply LinearRegression to the following dataset:
*   Energy efficiency: https://archive.ics.uci.edu/ml/datasets/Energy+efficiency.

In [ ]:
#code

# Finally,
Save a copy in your Github. Remember renaming the notebook.